$foreground-color: #1c1a19;
$background-color: #eaeaea;
$header-color: #2980b9;
$sublime-orange: #ff6801;

$footer-height: 100px;

body {
  background-color: $foreground-color;
  color: $foreground-color;
  font-family: "Open Sans";
  margin: 0 0 $footer-height 0;
  padding: 0;
}

a {
  color: darken($header-color, 15%);
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover, &:active {
    color: darken($header-color, 9%);
  }
}

.content {
  background: $background-color;
  box-shadow: 0 3px 5px black;
  padding: 100px 0 0 0;
  position: relative;
  z-index: 2;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 20px;
}

$header-height: 90px;

header {
  z-index: 3;
  background: $header-color;
  box-shadow: 0 3px 5px darken($header-color, 20%);
  height: $header-height;
  position: sticky;
  top: 0;

  .content-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    margin: 17px 0 18px 0;
    max-height: 50px;
  }

  nav {
    align-items: center;
    display: flex;
    font-size: 1.1em;
    letter-spacing: 1.4px;

    > * {
      margin-left: 16px;
    }

    a {
      color: $foreground-color;

      &:hover, &:active {
        color: black;
      }
    }

    .links {
      display: flex;

      a {
        display: block;
        margin-left: 0;

        &:not(:last-child):after {
          content: "•";
          margin: 0 8px;
        }

        &:last-child {
          margin-right: 4px;
        }
      }
    }

    .install-button {
      width: 110px;

      a {
        border-radius: 20px;
        height: 40px;
        letter-spacing: 1px;
        line-height: 40px;
      }
    }

    .github-icon {
      font-size: 1.4em;
    }
  }

  @media only screen and (max-width: 580px) {
    height: $header-height + 40px;

    .content-wrapper {
      flex-direction: column;
    }

    nav {
      font-size: 0.9em;

      .install-button {
        width: 100px;

        a {
          border-radius: 15px;
          height: 30px;
          line-height: 30px;
        }
      }
    }
  }
}

#hero {
  text-align: center;

  h1 {
    font-size: 3em;
    font-weight: lighter;
    margin: 0 auto;
  }

  h2 {
    font-family: "Roboto";
    font-size: 1.5em;
    font-weight: lighter;
    margin: 30px auto;
    width: 70%;
  }

  .install-button {
    margin: 50px auto;
    width: 170px;

    a {
      border-radius: 25px;
      color: $foreground-color;
      height: 50px;
      letter-spacing: 3px;
      line-height: 50px;

      &:hover, &:active {
        color: black;
      }
    }
  }

  img {
    box-shadow: 0 0 10px black;
    width: 90%;
  }
}

.install-button {
  a {
    background-color: $sublime-orange;
    box-shadow: 0 0 8px $sublime-orange;
    display: block;
    font-weight: 600;
    text-align: center;
  }
}

h1 {
  font-size: 1.8em;
  font-weight: lighter;
  margin: 80px auto 50px auto;
  text-align: center;
  letter-spacing: 2px;
}

#features {
  .big-feature {
    display: flex;
    margin-bottom: 40px;

    &.right {
      justify-content: space-between;

      div {
        padding-left: 0;
        padding-right: 20px;
      }
    }

    img {
      width: 55%;
      height: 55%;
    }

    div {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 20px;

      h3 {
        margin: 0;
        font-size: 1.5em;
        font-weight: lighter;
      }

      p {
        font-family: "Roboto";
      }
    }
  }

  .features-list {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &> div {
      padding: 15px;
      text-align: center;
      width: 300px;

      > i {
        font-size: 4em;
      }

      h3 {
        font-weight: normal;
        font-size: 1.3em;
        margin: 10px 0;
      }
    }
  }
}

#install {
  .install-boxes {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &> div {
      padding: 15px;
      text-align: center;
      width: 300px;

      img {
        display: block;
        margin: 0 auto;
        width: 140px;
      }

      .install-instructions-container {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 50px;
        margin: 10px 0;

        p {
          width: 100%;
        }
      }

      code {
        font-size: 1.3em;
        letter-spacing: 1px;
      }

      pre {
        background-color: $foreground-color;
        color: $background-color;
        margin: 0;
        padding: 10px;
      }
    }
  }

  .install-details {
    color: lighten($foreground-color, 20%);
    font-size: 0.8em;
    padding-bottom: 50px;
    text-align: center;
  }
}

footer {
  background: lighten($foreground-color, 5%);
  bottom: 0;
  color: darken($background-color, 30%);
  height: $footer-height;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1;

  .social-media {
    font-size: 1.5em;
    margin-top: 20px;

    a {
      color: darken($background-color, 30%);
      letter-spacing: 20px;

      &:hover, &:active {
        color: white;
      }
    }
  }

  p {
    margin: 8px 0;
    font-size: 0.7em;
  }
}
